@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border-sizing: border-box;
}

body{
    max-width: 95%;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/background.jpg);
    background-position: center auto;
    background-repeat: no-repeat;
    background-size:contain;
    background-color: #121214;
    box-sizing: border-box;
}

.menu-header{
    margin-left: 6em;
}

.menu-header section:nth-child(1){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 26px;
}

.menu-header img{
    width: 92px;
    height: 52px;
    margin-top: 10px;
}

.menu-header ul{
    display: flex;
    list-style: none;
    gap: 41px;
}

.menu-header ul a{
    color: white;
    font-weight: 500;
    font-size: 0.7em;
    line-height: 19px;
    text-decoration: none;
}

header section div:nth-child(3){
    display: flex;
    column-gap: 30px;
}

.btn-signin{
    width: 107px;
    height: 48px;
    border-radius: 7px;
    background-color: #8257E5;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.btn-signup{
    width: 107px;
    height: 48px;
    border-radius: 7px;
    border: 1px solid #8257E5;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.btn-signin:hover{
   background-color: #9161ff;
   transition-delay: 100ms;
   transition-duration: 200ms; 
}

.btn-signup:hover{
    color: rgb(220, 220, 220);
   transition-delay: 100ms;
   transition-duration: 200ms; 
}

header section:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 205px;
}

.title-header{
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

.title-header h1{
    font-weight: 500;
    font-size: 72px;
    line-height: 85px;
    color: white;
}

.title-header span{
    width: 443px;
    height: 62.42px;
    margin-top: 20px;
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #fafafa;
    display: block;
}

.title-header button{
    width: 30%;
    height: 50.9px; 
    background: #8257E5;
    border-radius: 7px;
    font-weight: 600;
    font-size: 17px;
    line-height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title-header button:hover{
    background-color: #9161ff;
    transition-delay: 100ms;
    transition-duration: 200ms; 
 }

.image-title img{
    width: 342px;
    height: auto;
}

.title-header a{
    display: block;
}

main{
    width: auto;
    margin-left: 100px;
}
main section:nth-child(1){
    width: 100%;
    height: auto;
    margin-top: 150px;
}

.title-sections{
    width: 100%%;
    display: flex;
    justify-content: space-between;
}

.title span{
    color: #8257E5;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.15em;
}
.title h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 56px;
    color: #ffffff;
}

.title p{
    font-weight: 400;
    font-size: 1em;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

.btn-moreall{
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #8257E5;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    margin-top: 60px;
    opacity: 0.8;
}

.btn-moreall:hover{
    opacity: 1;
    background-color: #8257E5;
    transition-delay: 100ms;
    transition-duration: 300ms;
}

.list-games{
    display: flex;
    margin-top: 83px;
}

.list-games ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    row-gap: 60px;
}

.list-games li{
    width: 25%;
}

.list-games img{
    width: 210px;
    height: 279.8px;
    border-radius: 40px;
}

main section:nth-child(2){
    margin-top: 100px;
    margin-bottom: 83px;
}

.list-cards{
    width: 100%;
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
}

.list-cards div:nth-child(7){
    display: none;
}

.list-cards div:nth-child(8){
    display: none;
}

.card{
    width: 100%;
    max-width: 320px;
    height: 360px;
    background-color: #2A2634;
    border-radius: 15px;
}

.elements-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    color: white;
}

.elements-cards img{
    width: 100px;
    height: auto;
    margin-top: 30px;
}

.elements-cards a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.elements-cards h3{
    margin-top: 16px;
}

.elements-cards p{
    color: #A1A1AA;
}

.elements-cards button{
    width: 80%;
    padding: 15px;
    background-color: #9161ff;
    border-radius: 15px;
    color: white;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 0.75px;
    cursor: pointer;
}

main section:nth-child(3){
    margin-top: 100px;
    margin-bottom: 83px;
}

.list-channels{
    width: 100%;
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
}

.channel{
    width: 160px;
    height: 160px;
    background-color: transparent;
    border: 2px solid #9161ff;
    border-radius: 50%;
    text-align: center;
}

.channel img{
   width: 85%;
   margin-top: 12px;
}

.line{
    width: 93%;
    height: 1px;
    background-color: #9161ff;
    margin-top: 150px;
    display: block;
    margin-left: 60px;
}

footer{
    width: 100%;
    height: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div img:nth-child(1){
    width: 150px;
    border-radius: 50%;
}

footer div:nth-child(2) img{
    width: 50px;
}

.autor{
    display: flex;
}

.autor h1{
    width: 30px;
    font-size: 50px;
    color:white;
    margin-left: 30px;
    margin-top: 10px;
}

.redes h3{
    width: 10px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.15em;
    color: #9161ff;
    margin-bottom: 15px;
}

.redes img{
    margin-right: 25px;
}

/* ANIMATION */

/*
.list-games ul li {
    animation: fromtop .7s 0.4s backwards;
    transition: transform .3s;
}


.list-games ul li:hover{
    transform: scale(1.1);
    transition: fromtop .3s;
}


@keyframes fromtop{
    from{
        opacity: 0;
        transform: translateY(-30px);
        
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes frombottom{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

*/

/* RESPONSIVIDADE */


@media (min-width: 1200px){

    .list-games img{

    }

    .list-channels a:nth-child(6){
        display: none;
    }
    
}

@media (min-width: 1440px){

    .image-title img{
        width: 100%;
        max-width: 410px;
    }

    .list-games img{
        width: 100%;
        max-width: 278px;
        height: auto;
    }

    .list-cards{
        display: grid;
        justify-content: space-between;
        flex-wrap: wrap;

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 30px;
    }

    .list-cards div:nth-child(7){
        display: inherit;
    }
    .list-cards div:nth-child(8){
        display: inherit;
    }
}

@media (min-width: 1600px){
    .image-title img{
        width: 100%;
        max-width: 520px;
    }

    .list-games{
        width: 100%;
    }
    .list-games img{
        width: 100%;
        max-width: 300px;
        height: auto;
    }
    
    .list-cards{
        display: grid;
        justify-content: space-between;
        flex-wrap: wrap;

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 30px;
    }

    .list-cards div:nth-child(7){
        display: inherit;
    }
    .list-cards div:nth-child(8){
        display: inherit;
    }

}

@media (min-width: 1920px){

    .title-header h1{
        font-size: 94px;
    }
    .title-header p{
        font-size: 20px;
    }
    .title-header button{
        width: 40%;
        font-size: 20px;
    }

    .menu-header img{
        width: 180px;
        height: auto;
    }

    .image-title img{
        width: 100%;
        max-width: 550px;
        height: auto;
    }

    .menu-header li{
        font-size: 1.5em;
    }

    .list-games img{
        width: 310px;
        height: auto;
    }

    .list-cards{
        width: 100%;
        display: grid;
        justify-content: space-between;
        flex-wrap: wrap;

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 30px;
    }

    .list-cards div:nth-child(7){
        display:inherit;
    }
    .list-cards div:nth-child(8){
        display:inherit;
    }

    .card{
        width: 100%;
        max-width: 460px;
        height: 466px;
    }

    .elements-cards img{
        width: 150px;
        height: auto;
        margin-top: 30px;
    }
    
    .elements-cards a{
        cursor: pointer;
        color: white;
        text-decoration: none;
    }
    
    .elements-cards h3{
        font-size: 1.5rem;
        margin-top: 20px;
        text-align: center;
    }
    
    .elements-cards p{
        color: #A1A1AA;
        font-size: 22px;
        margin-top: 15px;
    }
    
    .elements-cards button{
        width: 80%;
        padding: 20px;
        background-color: #9161ff;
        border-radius: 15px;
        color: white;
        border: none;
        margin-top: 30px;
        font-size: 22px;
        letter-spacing: 0.75px;
        cursor: pointer;
    }


}
